.chrome_console_float {
  height: 40px;
  border: 1px red solid;
  border-radius: 5px;
  background: rgba(222, 20, 20, 0.4);
  position: fixed;
  bottom: 100px;
  right: 10vw;
  z-index: 99999;
  text-align: center;
  line-height: 40px;
}